.bbb{
        color: #333333;
    }
.bbb:hover{
    color: #aa5555;
    text-decoration: none;
    opacity: 0.9;
    }
.bCardShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bCardShadow1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}